<div class="span1">
  <div class="vote-btns pull-right">
    <% if (answer.get("current_user_vote") > 0) { %>
      <a href="/answers/<%= answer.id %>/unvote" class="unvote btn-up">
    <% } else { %>
      <a href="/answers/<%= answer.id %>/upvote" class="vote btn-up">
    <% } %>
      &nbsp;
    </a>
    <br />
    <% if (answer.get("current_user_vote") < 0) { %>
      <a href="/answers/<%= answer.id %>/unvote" class="unvote btn-down">
    <% } else { %>
      <a href="/answers/<%= answer.id %>/downvote" class="vote btn-down">
    <% } %>
      &nbsp;
    </a>
  </div>
</div>

<div class="span10">
  <p><strong>
    <% if (user) { %>
      <% comma = (user.get("bio")) ? "," : "" %>
      <a href = "#/users/<%= user.id %>" class="user-link">
        <%= user.escape("name")%></a><%= comma %>
      <%= user.escape("bio") %>
    <% } else { %>
      Anonymous
    <% } %>
  </strong></p>
  <p>
    <%= answer.escape('vote_tally') %>
    <%= answer.escape('vote_tally') === 1 ? "vote" : "votes" %>
  </p>
  <p><%= answer.escape('text') %></p>
</div>

<div class="span1"></div>
<br />
