<div class="span1">
  <div class="vote-btns pull-right">
    <% var path = (answer.get("current_user_vote") > 0) ? "unvote" : "upvote"%>
    <a href="/answers/<%= answer.id %>/<%= path %>" class="<%= path %>">
      <i class="icon-up-dir"></i>
    </a>
    <br />
    <% var path = (answer.get("current_user_vote") < 0) ? "unvote": "downvote"%>
    <a href="/answers/<%= answer.id %>/<%= path %>" class="<%= path %>">
      <i class="icon-down-dir"></i>
    </a>
  </div>
</div>

<div class="span10 media-frame">
  <hr />

  <h4 class="title ellipsis">
    <% if (user) { %>
      <% comma = (user.get("bio")) ? "," : "" %>
      <a href = "#/users/<%= user.id %>">
        <%= user.escape("name")%></a><%= comma %>
      <%= user.escape("bio") %>
    <% } else { %>
      Anonymous
    <% } %>
  </h4>

  <p class="info">
    <span class="vote-tally"><%= answer.escape('vote_tally') %></span>
    <%= answer.escape('vote_tally') === 1 ? "vote" : "votes" %>
  </p>

  <p class="body"><%= answer.escape('text') %></p>
</div>

<div class="span1"></div>
