<%= content_for :site_messages do %>
  <div id="collapse-devise-error" class="accordion-body collapse">
    <div class="alert" id="site-alert">
      <a href="#collapse-devise-error" data-toggle="collapse"
        class="accordion-toggle close icon-cancel"></a>
      <%= devise_error_messages!.gsub("h2>", "h4>").html_safe %>
    </div>
  </div>
<% end %>

<% unless devise_error_messages!.empty? %>
  <%= content_for :javascript do %>
    Inquisit.showSiteMessage("#collapse-devise-error");
  <% end %>
<% end %>

<div class="form-horizontal">
  <div class="controls">
    <h2>Sign up</h2>
    <p>There's no privacy policy, and I don't actually use any of this info, so feel free to come up with a completely bogus name and email.<p>
    </p>Be creative!</p>
    <p>-- Ferg Nerdferder</p>
    <br />
  </div>

  <%= form_for(resource, :as => resource_name,
    :url => registration_path(resource_name)) do |f| %>

    <div class="control-group">
      <%= f.label :name, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :name, :autofocus => true %>
    </div></div>

    <div class="control-group">
      <%= f.label :email, :class => "control-label" %>
      <div class="controls">
      <%= f.email_field :email %>
    </div></div>

    <div class="control-group">
      <%= f.label :password, :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password %>
    </div></div>

    <div class="control-group">
      <%= f.label :password_confirmation, :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password_confirmation %>
    </div></div>

    <div class="controls">
      <p>(The password is <a href="http://en.wikipedia.org/wiki/Cryptographic_hash_function#Password_verification">hashed and salted</a>, just so you know.)</p>
    </div>

    <div class="controls">
      <%= f.submit "Sign up", :class => "btn btn-primary" %>
    </div>
  <% end %>

  <div class="controls">
    <%= render "devise/shared/links" %>
    <br /><a href="#" id="logo">Inquisit</a>
  </div>
</div>
