<p id="<%= model.modelName %>_<%= attribute %>">
  <%= model.escape(attribute) %>
  <a href="#" class="btn-edit" id="edit-<%= attribute %>">
    <i class="icon-pencil"></i>
    <%= (model.get(attribute)) ? "Edit" : "Add a " + attribute %>
  </a>
</p>
