<div class="form-horizontal">
  <div class="controls">
    <h2>Sign in</h2>
    <p>If you don't have an account, <%= link_to "sign up", new_registration_path(resource) %> or use the <a href="#" id="guest-account">guest account</a>.</p>
  </div>

  <%= form_for(resource, :as => resource_name,
    :url => session_path(resource_name)) do |f| %>
    <div class="control-group">
      <%= f.label :email, :class => "control-label" %>
      <div class="controls"><%= f.email_field :email, :autofocus => true %>
    </div></div>

    <div class="control-group">
      <%= f.label :password, :class => "control-label" %>
      <div class="controls"><%= f.password_field :password %></div>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="control-group">
        <div class="controls">
          <label for="<%= f.object_name %>_remember_me" class="checkbox">
            <%= f.check_box :remember_me %> Remember me
          </label>
        </div>
      </div>
    <% end -%>

    <div class="controls">
      <%= f.submit "Sign in", :class => "btn btn-primary" %>
    </div>
  <% end %>

  <div class="controls">
    <%= render "devise/shared/links" %>
    <br /><a href="#" id="logo">Inquisit</a>
  </div>

</div>

<script type="text/javascript">
  $('#guest-account').click(function(event) {
    event.preventDefault()

    $('#user_email').val('guest@inquisit.com')
    $('#user_password').val('12345678')
  });
</script>
