<h2><%= question.escape('title') %></h2>
<p><%= question.escape('description') %></p>

<h3><%= question.get('answers').length %> Answers</h3>

<form action="/questions/<%= question.id %>/answers"
      method="get" accept-charset="utf-8" id="new-answer">
  <textarea name="answer[text]" placeholder="Add your answer"></textarea>
  <br />
  <input type="submit" value="Add answer" />
</form>

<ul>
  <% question.get('answers').each(function(answer) { %>
    <% var user = answer.get('user') %>
    <li>
      <%= answer.escape('text') %>
      <br />
      --<a href = "#/users/<%= user.id %>"><%= user.escape('name') %></a>
    </li>
  <% }); %>
</ul>

