<div class="row-fluid">
  <div class="span1"></div>

  <div class="span11 header-frame" id="question-block">

    <div id="topics"></div>
    <div id="title" class="title"></div>
    <div id="details"></div>

    <hr />
    <% var answersCount = question.get('answers').length %>
    <p class="info">
      <%= answersCount %>
      <%= answersCount === 1 ? "Answer" : "Answers" %>
    </p>

  </div>
</div>

<div class="row-fluid" id="answer-form">
  <div class="span1"></div>

  <div class="span10 media-frame">
    <hr />

    <h4 class="title">
      <% if (currentUser.get("anonymous")) { %>
        Anonymous
      <% } else { %>
        <% comma = (currentUser.get("bio")) ? "," : "" %>
        <a href = "#/users/<%= currentUser.id %>">
          <%= currentUser.escape("name")%></a><%= comma %>
        <%= currentUser.escape("bio") %>
      <% } %>
    </h4>

    <form action="/questions/<%= question.id %>/answers"
          method="get" accept-charset="utf-8" id="new-answer">
      <fieldset class="body">
        <textarea name="answer[text]" placeholder="Add your answer"
          class="full-width"></textarea>
        <button type="submit" class="btn btn-primary pull-right">Add Answer</button>
      </fieldset>
    </form>
  </div>

  <div class="span1"></div>
</div>

<ul class="unstyled" id="answers-list"></ul>
