<label>Topics:</label>
<ul>
  <% console.log(question); %>
  <% question.get('topics').each(function(topic) { %>
    <li><a href="#/topics/<%= topic.id %>"><%= topic.escape('title') %></a></li>
  <% }); %>
</ul>

<h3><%= question.escape('title') %></h3>
<p><%= question.escape('description') %></p>

<h4><%= question.get('answers').length %> Answers</h4>

<form action="/questions/<%= question.id %>/answers"
      method="get" accept-charset="utf-8" id="new-answer">
  <textarea name="answer[text]" placeholder="Add your answer"></textarea>
  <br />
  <input type="submit" value="Add answer" />
</form>

<ul>
  <% question.get('answers').each(function(answer) { %>
    <% var user = answer.get('user') %>
    <li>
      <% if (user) { %>
        <% var bio = (user.get('bio')) ? ", " + user.escape('bio') : "" %>
        <label>
          <a href = "#/users/<%= user.id %>">
            <%= user.escape('name') %></a><%= bio %>
        </label>
      <% } else { %>
        <label>Anonymous</label>
      <% } %>
      <%= answer.escape('text') %>
    </li>
    <br />
  <% }); %>
</ul>

