<!DOCTYPE html>
<html>
<head>
  <title>Clonora</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <!-- modal dialogue for site messages -->
  <div class="modal hide fade" id="alert-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"
        aria-hidden="true">&times;</button>
      <h3>Clonora</h3>
    </div>
    <div class="modal-body">
      <p><strong class="notice"><%= notice %></strong></p>
      <p><strong class="alert"><%= alert %></strong></p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
    </div>
  </div>

  <%= yield %>

</div>

<script type="text/javascript" charset="utf-8">
  if ( $('.notice').html() !== "" || $('.alert').html() !== "" ) {
    $('#alert-modal').modal('show')
  }
</script>

</body>
</html>
