<!DOCTYPE html>
<html>
<head>
  <title>Clonora</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- modal dialogue for site messages -->
<div class="modal hide fade" id="alert-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      &times;
    </button>
    <h3>Clonora</h3>
  </div>
  <div class="modal-body">
    <p class="notice"><strong><%= notice %></strong></p>
    <p class="alert"><strong><%= alert %></strong></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  if ( $('.notice').html() !== "" || $('.alert') !== "" ) {
    $('#alert-modal').modal()
  }
</script>

<%= yield %>

</body>
</html>

